body {
    padding: 0%;
    margin: 0%;
    
}
.seFormulario {
    background-color: #00ffff;
    margin: 3vw;
    padding: 5%;
    width: 30%;
    justify-content: center;
    align-content: center;
    
}
